# Test Report

| 🕙 Start time | ⌛ Duration |
| --- | ---: |
| 10/16/2024, 11:06:58 PM | 2.758 s |

| | ✅ Passed | ❌ Failed | ⏩ Skipped | 🚧 Todo | ⚪ Total |
| --- | ---: | ---: | ---: | ---: | ---: |
|Test Suites|4|0|0|0|4|
|Tests|2|0|0|0|2|

## ✅ <a id="file0" href="#file0">src/components/atoms/__tests__/test.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/62b88eb4957dd74d6f9d31e4175fa8eeb6fd68ac/src/components/atoms/__tests__/test.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 3.1258660000000873 s

```
✅ MyComponent
   ✅ 1 plus 1
```

## ✅ <a id="file1" href="#file1">src/components/organisms/__tests__/ExcampleComponent.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/62b88eb4957dd74d6f9d31e4175fa8eeb6fd68ac/src/components/organisms/__tests__/ExcampleComponent.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 46.4994949999998 s

```
✅ ExampleComponent
   ✅ matches the snapshot
```
