# Test Report

| 🕙 Start time | ⌛ Duration |
| --- | ---: |
| 10/16/2024, 5:43:31 PM | 2.976 s |

| | ✅ Passed | ❌ Failed | ⏩ Skipped | 🚧 Todo | ⚪ Total |
| --- | ---: | ---: | ---: | ---: | ---: |
|Test Suites|4|0|0|0|4|
|Tests|2|0|0|0|2|

## ✅ <a id="file0" href="#file0">src/components/atoms/__tests__/test.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/53efed362aad5bdfb7fbf27cc3a63aea21da7622/src/components/atoms/__tests__/test.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 3.4787619999999606 s

```
✅ MyComponent
   ✅ 1 plus 1
```

## ✅ <a id="file1" href="#file1">src/components/organisms/__tests__/ExcampleComponent.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/53efed362aad5bdfb7fbf27cc3a63aea21da7622/src/components/organisms/__tests__/ExcampleComponent.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 118.73300800000015 s

```
✅ ExampleComponent
   ✅ matches the snapshot
```
