# Test Report

| 🕙 Start time | ⌛ Duration |
| --- | ---: |
| 10/18/2024, 2:22:20 PM | 48.823 s |

| | ✅ Passed | ❌ Failed | ⏩ Skipped | 🚧 Todo | ⚪ Total |
| --- | ---: | ---: | ---: | ---: | ---: |
|Test Suites|64|0|0|0|64|
|Tests|80|0|0|0|80|

## ✅ <a id="file0" href="#file0">src/app/layout/__tests__/NavBar.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/app/layout/__tests__/NavBar.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 211.55156700000043 s

```
✅ NavBar component
   ✅ renders correctly on desktop
```

## ✅ <a id="file1" href="#file1">src/app/pages/__tests__/Dashboard.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/app/pages/__tests__/Dashboard.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 1320.5396909999981 s

```
✅ Dashboard component
   ✅ renders correctly on desktop
```

## ✅ <a id="file2" href="#file2">src/components/atoms/__tests__/CardBody.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/atoms/__tests__/CardBody.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 153.48486800000046 s

```
✅ CardBody component
   ✅ matches the snapshot
```

## ✅ <a id="file3" href="#file3">src/components/atoms/__tests__/CardContainer.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/atoms/__tests__/CardContainer.spec.tsx)]

2 passed, 0 failed, 0 skipped, 0 todo, done in 782.5175639999998 s

```
✅ CardContainer component
   ✅ matches the snapshot
   ✅ handles mouse movement
```

## ✅ <a id="file4" href="#file4">src/components/atoms/__tests__/DarkModeSwitch.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/atoms/__tests__/DarkModeSwitch.spec.tsx)]

8 passed, 0 failed, 0 skipped, 0 todo, done in 1105.308857 s

```
✅ ThemeSwitch component
   ✅ matches snapshot
   ✅ renders with the correct initial checked state
   ✅ calls onChange when the checkbox is clicked
   ✅ applies the correct size based on the size prop
   ✅ applies the default size when size prop is not provided
   ✅ toggles the checked state correctly when clicked
   ✅ renders the correct structure for child elements
   ✅ applies the correct styles based on the checked state
```

## ✅ <a id="file5" href="#file5">src/components/atoms/__tests__/DevLink.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/atoms/__tests__/DevLink.spec.tsx)]

4 passed, 0 failed, 0 skipped, 0 todo, done in 446.68166500000007 s

```
✅ DevLink component
   ✅ matches the snapshot when activeHash is Sections.Dev
   ✅ matches the snapshot when activeHash is Sections.Music
   ✅ matches the snapshot when activeHash is Sections.Me
   ✅ calls scrollToSection and setAutomaticScroll on click
```

## ✅ <a id="file6" href="#file6">src/components/atoms/__tests__/LanguageSwitcher.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/atoms/__tests__/LanguageSwitcher.spec.tsx)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 1801.3823520000005 s

```
✅ LanguageSwitcher component
   ✅ matches the snapshot
   ✅ opens the menu when button is clicked
   ✅ changes language when an option is selected
```

## ✅ <a id="file7" href="#file7">src/components/atoms/__tests__/MeLink.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/atoms/__tests__/MeLink.spec.tsx)]

4 passed, 0 failed, 0 skipped, 0 todo, done in 585.2965900000008 s

```
✅ MeLink component
   ✅ matches the snapshot when activeHash is Sections.Dev
   ✅ matches the snapshot when activeHash is Sections.Music
   ✅ matches the snapshot when activeHash is Sections.Me
   ✅ calls scrollToSection and setAutomaticScroll on click
```

## ✅ <a id="file8" href="#file8">src/components/atoms/__tests__/MouseEnterContext.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/atoms/__tests__/MouseEnterContext.spec.tsx)]

2 passed, 0 failed, 0 skipped, 0 todo, done in 722.4777279999998 s

```
✅ MouseEnterProvider
   ✅ should provide mouse enter state to its children
   ✅ should throw error if useMouseEnter is used outside of MouseEnterProvider
```

## ✅ <a id="file9" href="#file9">src/components/atoms/__tests__/MusicLink.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/atoms/__tests__/MusicLink.spec.tsx)]

4 passed, 0 failed, 0 skipped, 0 todo, done in 1005.8565570000001 s

```
✅ MusicLink component
   ✅ matches the snapshot when activeHash is Sections.Dev
   ✅ matches the snapshot when activeHash is Sections.Music
   ✅ matches the snapshot when activeHash is Sections.Me
   ✅ calls scrollToSection and setAutomaticScroll on click
```

## ✅ <a id="file10" href="#file10">src/components/molecules/__tests__/Card.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/molecules/__tests__/Card.spec.tsx)]

2 passed, 0 failed, 0 skipped, 0 todo, done in 389.1975190000003 s

```
✅ Card component
   ✅ renders the content passed as props
   ✅ renders with the correct classes
```

## ✅ <a id="file11" href="#file11">src/components/molecules/__tests__/ThemeSwitcher.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/molecules/__tests__/ThemeSwitcher.spec.tsx)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 845.7230360000003 s

```
✅ ThemeSwitcher component
   ✅ renders with dark mode based on localStorage
   ✅ toggles to dark mode on switch
   ✅ toggles to light mode on switch
```

## ✅ <a id="file12" href="#file12">src/components/organisms/__tests__/Box.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/organisms/__tests__/Box.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 240.26579300000049 s

```
✅ Box component
   ✅ matches the snapshot
```

## ✅ <a id="file13" href="#file13">src/components/organisms/__tests__/ExcampleComponent.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/organisms/__tests__/ExcampleComponent.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 54.36817299999984 s

```
✅ ExampleComponent
   ✅ matches the snapshot
```

## ✅ <a id="file14" href="#file14">src/components/organisms/__tests__/Jokes.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/organisms/__tests__/Jokes.spec.tsx)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 1003.900047000001 s

```
✅ Jokes Component
   ✅ matches the snapshot
   ✅ changes the joke after the interval
   ✅ changes the joke when refresh button is clicked
```

## ✅ <a id="file15" href="#file15">src/components/organisms/__tests__/LatestSong.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/organisms/__tests__/LatestSong.spec.tsx)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 1115.2105059999994 s

```
✅ LatestSong Component
   ✅ matches snapshot at initial render
   ✅ matches snapshot after 5 seconds
   ✅ matches snapshot after another 5 seconds
```

## ✅ <a id="file16" href="#file16">src/components/organisms/__tests__/NavBarDropDownMenu.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/organisms/__tests__/NavBarDropDownMenu.spec.tsx)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 2424.7475349999986 s

```
✅ DropdownMenu Component
   ✅ matches snapshot
   ✅ opens the menu when the button is clicked
   ✅ closes the menu when clicked outside
```

## ✅ <a id="file17" href="#file17">src/components/organisms/__tests__/Presentation.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/organisms/__tests__/Presentation.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 201.79947300000003 s

```
✅ Presentation component
   ✅ matches the snapshot
```

## ✅ <a id="file18" href="#file18">src/components/organisms/__tests__/SeeResume.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/organisms/__tests__/SeeResume.spec.tsx)]

2 passed, 0 failed, 0 skipped, 0 todo, done in 993.4062429999994 s

```
✅ SeeResume Component
   ✅ renders correctly for mobile
   ✅ renders correctly for desktop
```

## ✅ <a id="file19" href="#file19">src/components/organisms/__tests__/SpotifyPlaylist.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/organisms/__tests__/SpotifyPlaylist.spec.tsx)]

2 passed, 0 failed, 0 skipped, 0 todo, done in 1003.052017 s

```
✅ SpotifyPlaylist Component
   ✅ renders correctly in mobile view
   ✅ renders correctly in desktop view
```

## ✅ <a id="file20" href="#file20">src/components/organisms/__tests__/YoutubeVideo.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/organisms/__tests__/YoutubeVideo.spec.tsx)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 1119.2639040000013 s

```
✅ LocalVideoWithTooltip Component
   ✅ renders correctly and displays loading indicator initially
   ✅ matches snapshot
   ✅ shows tooltip when activeHash matches and after timeout
```

## ✅ <a id="file21" href="#file21">src/components/sections/__tests__/CenterSection.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/sections/__tests__/CenterSection.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 851.4787269999997 s

```
✅ CenterSection component
   ✅ renders correctly on desktop
```

## ✅ <a id="file22" href="#file22">src/components/sections/__tests__/LeftSection.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/sections/__tests__/LeftSection.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 968.4444009999997 s

```
✅ LeftSection component
   ✅ renders correctly on desktop
```

## ✅ <a id="file23" href="#file23">src/components/sections/__tests__/RightSection.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/components/sections/__tests__/RightSection.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 878.564435000002 s

```
✅ RightSection component
   ✅ renders correctly on desktop
```

## ✅ <a id="file24" href="#file24">src/hooks/__tests__/useIsMobile.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/hooks/__tests__/useIsMobile.spec.tsx)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 218.9334940000008 s

```
✅ useIsMobile
   ✅ should return true if the window width is less than the breakpoint
   ✅ should return false if the window width is greater than or equal to the breakpoint
   ✅ should update the view when the window is resized
```

## ✅ <a id="file25" href="#file25">src/hooks/__tests__/useLanguage.spec.ts</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/hooks/__tests__/useLanguage.spec.ts)]

4 passed, 0 failed, 0 skipped, 0 todo, done in 115.84500900000057 s

```
✅ useLanguage
   ✅ should change the language and save it to localStorage
   ✅ should load the language from localStorage
   ✅ should return the current language from localStorage
   ✅ should return "en" if no language is in localStorage
```

## ✅ <a id="file26" href="#file26">src/locales/__tests__/i18n.spec.ts</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/locales/__tests__/i18n.spec.ts)]

2 passed, 0 failed, 0 skipped, 0 todo, done in 4.523736000000099 s

```
✅ i18n configuration
   ✅ should initialize i18n with the correct configuration
   ✅ should have parseMissingKeyHandler that returns an empty string
```

## ✅ <a id="file27" href="#file27">src/locales/__tests__/language.spec.ts</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/locales/__tests__/language.spec.ts)]

2 passed, 0 failed, 0 skipped, 0 todo, done in 7.764653999999609 s

```
✅ languages
   ✅ should have correct configuration for language { lang: 'en', name: 'English', translation: { hello: 'Hey buddy, whats upp?', welcome: 'Hello friend', description: 'This is a description in English', navbar: { me: 'me', music: 'music', dev: 'dev' }, yes: 'yes', music: { favoritePlaylist: { title: 'My Favorite Playlist', description: 'Enjoy my personal selection of songs in this playlist. Listen to it and let yourself be carried away by the rhythm!' }, video: { clickMe: 'Click me!', seeFullVideo: 'See full video' } }, me: { presentation: { title: 'Hi! I\'m George Gil', description: 'I\'m a curious software engineer who also plays guitar, not always at the same time though.' }, jokes: { joke1: 'I decided to create this presentation because, let\'s face it, my jokes aren’t as good as my code... but here we are.', joke2: 'Honestly, putting together a page about myself is way less awkward than trying to have a conversation with myself.', joke3: 'In theory, I’m an expert... but since I’m better at doing than explaining, I figured it’s best to just show you.', joke4: 'Some people make presentations to impress, I made mine to avoid talking... (didn\'t work anyway).' } }, dev: { resume: { seeResume: 'See resume' } } } }
   ✅ should have correct configuration for language { lang: 'es', name: 'Español', translation: { hello: 'Hola amigo, que tal?', welcomes: 'Plural', description: 'Esta es una descripción en español', navbar: { me: 'yo', music: 'música', dev: 'dev' }, yes: 'si', music: { favoritePlaylist: { title: 'Mi Playlist Favorita', description: 'Disfruta de mi selección personal de canciones en esta playlist. ¡Escúchala y déjate llevar por el ritmo!' }, video: { clickMe: 'Clickeame!', seeFullVideo: 'Ver video completo' } }, me: { presentation: { title: '¡Hola! Soy George Gil', description: 'Soy un curioso ingeniero de softwre que también toca la guitarra, aunque no siempre al mismo tiempo.' }, jokes: { joke1: 'Decidí hacer esta presentación porque, siendo sinceros, mis chistes no son tan buenos como mi código... pero aquí estamos.', joke2: 'A decir verdad, crear una página sobre mí mismo es mucho menos incómodo que tener una conversación conmigo mismo.', joke3: 'En teoría, soy un experto... en la práctica, como soy mejor haciendo que explicando, mejor les muestro.', joke4: 'Algunos hacen presentaciones para impresionar, yo la hice para evitar hablar... aunque tampoco lo conseguí del todo.' } }, dev: { resume: { seeResume: 'Ver CV' } } } }
```

## ✅ <a id="file28" href="#file28">src/store/__tests__/index.spec.ts</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/store/__tests__/index.spec.ts)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 9.828445000000102 s

```
✅ index store
   ✅ should have activeHash reducer in the store
   ✅ should handle setActiveHash
   ✅ should maintain the state after an invalid action type
```

## ✅ <a id="file29" href="#file29">src/store/hash/__tests__/activeHash.spec.ts</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/store/hash/__tests__/activeHash.spec.ts)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 7.734159000000545 s

```
✅ activeHashSlice
   ✅ should return the initial state
   ✅ should handle setActiveHash
   ✅ should select activeHash from the state
```

## ✅ <a id="file30" href="#file30">src/utils/__tests__/classMerge.spec.ts</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/utils/__tests__/classMerge.spec.ts)]

4 passed, 0 failed, 0 skipped, 0 todo, done in 78.13451900000018 s

```
✅ cn function
   ✅ should combine classes correctly
   ✅ should handle falsy values
   ✅ should merge Tailwind classes correctly
   ✅ should handle an empty input
```

## ✅ <a id="file31" href="#file31">src/utils/__tests__/setTheme.spec.ts</a> [[link](https://github.com/georgegigarib/george-resume/blob/85385cc33bf0eded21ece529bc8607e196078957/src/utils/__tests__/setTheme.spec.ts)]

2 passed, 0 failed, 0 skipped, 0 todo, done in 7.470926999999392 s

```
✅ setTheme
   ✅ should add "dark" class when isDark is true
   ✅ should remove "dark" class when isDark is false
```
