# Test Report

| 🕙 Start time | ⌛ Duration |
| --- | ---: |
| 11/29/2024, 12:55:58 AM | 35.356 s |

| | ✅ Passed | ❌ Failed | ⏩ Skipped | 🚧 Todo | ⚪ Total |
| --- | ---: | ---: | ---: | ---: | ---: |
|Test Suites|70|0|0|0|70|
|Tests|89|0|0|0|89|

## ✅ <a id="file0" href="#file0">src/app/layout/__tests__/NavBar.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/app/layout/__tests__/NavBar.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 355.58311799999865 s

```
✅ NavBar component
   ✅ renders correctly on desktop
```

## ✅ <a id="file1" href="#file1">src/app/pages/__tests__/Dashboard.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/app/pages/__tests__/Dashboard.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 1543.6777619999993 s

```
✅ Dashboard component
   ✅ renders correctly on desktop
```

## ✅ <a id="file2" href="#file2">src/components/atoms/__tests__/CardBody.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/atoms/__tests__/CardBody.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 106.46974399999999 s

```
✅ CardBody component
   ✅ matches the snapshot
```

## ✅ <a id="file3" href="#file3">src/components/atoms/__tests__/CardContainer.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/atoms/__tests__/CardContainer.spec.tsx)]

2 passed, 0 failed, 0 skipped, 0 todo, done in 483.7926459999999 s

```
✅ CardContainer component
   ✅ matches the snapshot
   ✅ handles mouse movement
```

## ✅ <a id="file4" href="#file4">src/components/atoms/__tests__/DarkModeSwitch.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/atoms/__tests__/DarkModeSwitch.spec.tsx)]

8 passed, 0 failed, 0 skipped, 0 todo, done in 480.3476719999999 s

```
✅ ThemeSwitch component
   ✅ matches snapshot
   ✅ renders with the correct initial checked state
   ✅ calls onChange when the checkbox is clicked
   ✅ applies the correct size based on the size prop
   ✅ applies the default size when size prop is not provided
   ✅ toggles the checked state correctly when clicked
   ✅ renders the correct structure for child elements
   ✅ applies the correct styles based on the checked state
```

## ✅ <a id="file5" href="#file5">src/components/atoms/__tests__/DevLink.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/atoms/__tests__/DevLink.spec.tsx)]

4 passed, 0 failed, 0 skipped, 0 todo, done in 621.5040930000005 s

```
✅ DevLink component
   ✅ matches the snapshot when activeHash is Sections.Dev
   ✅ matches the snapshot when activeHash is Sections.Music
   ✅ matches the snapshot when activeHash is Sections.Me
   ✅ calls scrollToSection and setAutomaticScroll on click
```

## ✅ <a id="file6" href="#file6">src/components/atoms/__tests__/LanguageSwitcher.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/atoms/__tests__/LanguageSwitcher.spec.tsx)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 1302.2021010000008 s

```
✅ LanguageSwitcher component
   ✅ matches the snapshot
   ✅ opens the menu when button is clicked
   ✅ changes language when an option is selected
```

## ✅ <a id="file7" href="#file7">src/components/atoms/__tests__/MeLink.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/atoms/__tests__/MeLink.spec.tsx)]

4 passed, 0 failed, 0 skipped, 0 todo, done in 391.039804 s

```
✅ MeLink component
   ✅ matches the snapshot when activeHash is Sections.Dev
   ✅ matches the snapshot when activeHash is Sections.Music
   ✅ matches the snapshot when activeHash is Sections.Me
   ✅ calls scrollToSection and setAutomaticScroll on click
```

## ✅ <a id="file8" href="#file8">src/components/atoms/__tests__/MouseEnterContext.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/atoms/__tests__/MouseEnterContext.spec.tsx)]

2 passed, 0 failed, 0 skipped, 0 todo, done in 330.06997 s

```
✅ MouseEnterProvider
   ✅ should provide mouse enter state to its children
   ✅ should throw error if useMouseEnter is used outside of MouseEnterProvider
```

## ✅ <a id="file9" href="#file9">src/components/atoms/__tests__/MusicLink.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/atoms/__tests__/MusicLink.spec.tsx)]

4 passed, 0 failed, 0 skipped, 0 todo, done in 339.147422 s

```
✅ MusicLink component
   ✅ matches the snapshot when activeHash is Sections.Dev
   ✅ matches the snapshot when activeHash is Sections.Music
   ✅ matches the snapshot when activeHash is Sections.Me
   ✅ calls scrollToSection and setAutomaticScroll on click
```

## ✅ <a id="file10" href="#file10">src/components/molecules/__tests__/Card.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/molecules/__tests__/Card.spec.tsx)]

2 passed, 0 failed, 0 skipped, 0 todo, done in 202.9210210000001 s

```
✅ Card component
   ✅ renders the content passed as props
   ✅ renders with the correct classes
```

## ✅ <a id="file11" href="#file11">src/components/molecules/__tests__/Modal.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/molecules/__tests__/Modal.spec.tsx)]

6 passed, 0 failed, 0 skipped, 0 todo, done in 1133.3392799999983 s

```
✅ Modal Component
   ✅ matches snapshot
   ✅ opens modal when trigger is clicked
   ✅ closes modal when close button is clicked
   ✅ calls centerModalInViewport to center modal when opened
   ✅ adjusts modal position on resize
   ✅ adapts to mobile layout when isMobile is true
```

## ✅ <a id="file12" href="#file12">src/components/molecules/__tests__/ThemeSwitcher.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/molecules/__tests__/ThemeSwitcher.spec.tsx)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 456.8529899999994 s

```
✅ ThemeSwitcher component
   ✅ renders with dark mode based on localStorage
   ✅ toggles to dark mode on switch
   ✅ toggles to light mode on switch
```

## ✅ <a id="file13" href="#file13">src/components/organisms/__tests__/Box.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/organisms/__tests__/Box.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 184.3568180000002 s

```
✅ Box component
   ✅ matches the snapshot
```

## ✅ <a id="file14" href="#file14">src/components/organisms/__tests__/ExcampleComponent.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/organisms/__tests__/ExcampleComponent.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 243.42351599999984 s

```
✅ ExampleComponent
   ✅ matches the snapshot
```

## ✅ <a id="file15" href="#file15">src/components/organisms/__tests__/Jokes.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/organisms/__tests__/Jokes.spec.tsx)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 527.4244010000002 s

```
✅ Jokes Component
   ✅ matches the snapshot
   ✅ changes the joke after the interval
   ✅ changes the joke when refresh button is clicked
```

## ✅ <a id="file16" href="#file16">src/components/organisms/__tests__/LatestSong.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/organisms/__tests__/LatestSong.spec.tsx)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 635.0000170000003 s

```
✅ LatestSong Component
   ✅ matches snapshot at initial render
   ✅ matches snapshot after 5 seconds
   ✅ matches snapshot after another 5 seconds
```

## ✅ <a id="file17" href="#file17">src/components/organisms/__tests__/ListOfProjectsModal.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/organisms/__tests__/ListOfProjectsModal.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 152.22174300000006 s

```
✅ ListOfProjectsModal component
   ✅ matches the snapshot
```

## ✅ <a id="file18" href="#file18">src/components/organisms/__tests__/NavBarDropDownMenu.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/organisms/__tests__/NavBarDropDownMenu.spec.tsx)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 1174.0796859999991 s

```
✅ DropdownMenu Component
   ✅ matches snapshot
   ✅ opens the menu when the button is clicked
   ✅ closes the menu when clicked outside
```

## ✅ <a id="file19" href="#file19">src/components/organisms/__tests__/Presentation.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/organisms/__tests__/Presentation.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 224.27847100000008 s

```
✅ Presentation component
   ✅ matches the snapshot
```

## ✅ <a id="file20" href="#file20">src/components/organisms/__tests__/SeeResume.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/organisms/__tests__/SeeResume.spec.tsx)]

2 passed, 0 failed, 0 skipped, 0 todo, done in 746.8311639999997 s

```
✅ SeeResume Component
   ✅ renders correctly for mobile
   ✅ renders correctly for desktop
```

## ✅ <a id="file21" href="#file21">src/components/organisms/__tests__/SpotifyPlaylist.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/organisms/__tests__/SpotifyPlaylist.spec.tsx)]

2 passed, 0 failed, 0 skipped, 0 todo, done in 678.4394079999993 s

```
✅ SpotifyPlaylist Component
   ✅ renders correctly in mobile view
   ✅ renders correctly in desktop view
```

## ✅ <a id="file22" href="#file22">src/components/organisms/__tests__/YoutubeVideo.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/organisms/__tests__/YoutubeVideo.spec.tsx)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 885.3970820000013 s

```
✅ LocalVideoWithTooltip Component
   ✅ renders correctly and displays loading indicator initially
   ✅ matches snapshot
   ✅ shows tooltip when activeHash matches and after timeout
```

## ✅ <a id="file23" href="#file23">src/components/sections/__tests__/CenterSection.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/sections/__tests__/CenterSection.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 400.7778869999993 s

```
✅ CenterSection component
   ✅ renders correctly on desktop
```

## ✅ <a id="file24" href="#file24">src/components/sections/__tests__/LeftSection.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/sections/__tests__/LeftSection.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 1002.0328379999992 s

```
✅ LeftSection component
   ✅ renders correctly on desktop
```

## ✅ <a id="file25" href="#file25">src/components/sections/__tests__/RightSection.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/components/sections/__tests__/RightSection.spec.tsx)]

1 passed, 0 failed, 0 skipped, 0 todo, done in 582.9760179999994 s

```
✅ RightSection component
   ✅ renders correctly on desktop
```

## ✅ <a id="file26" href="#file26">src/hooks/__tests__/useIsMobile.spec.tsx</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/hooks/__tests__/useIsMobile.spec.tsx)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 329.01212199999964 s

```
✅ useIsMobile
   ✅ should return true if the window width is less than the breakpoint
   ✅ should return false if the window width is greater than or equal to the breakpoint
   ✅ should update the view when the window is resized
```

## ✅ <a id="file27" href="#file27">src/hooks/__tests__/useLanguage.spec.ts</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/hooks/__tests__/useLanguage.spec.ts)]

4 passed, 0 failed, 0 skipped, 0 todo, done in 186.46297400000003 s

```
✅ useLanguage
   ✅ should change the language and save it to localStorage
   ✅ should load the language from localStorage
   ✅ should return the current language from localStorage
   ✅ should return "en" if no language is in localStorage
```

## ✅ <a id="file28" href="#file28">src/locales/__tests__/i18n.spec.ts</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/locales/__tests__/i18n.spec.ts)]

2 passed, 0 failed, 0 skipped, 0 todo, done in 96.87947399999985 s

```
✅ i18n configuration
   ✅ should initialize i18n with the correct configuration
   ✅ should have parseMissingKeyHandler that returns an empty string
```

## ✅ <a id="file29" href="#file29">src/locales/__tests__/language.spec.ts</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/locales/__tests__/language.spec.ts)]

2 passed, 0 failed, 0 skipped, 0 todo, done in 11.813042000000223 s

```
✅ languages
   ✅ should have correct configuration for language { lang: 'en', name: 'English', translation: { hello: 'Hey buddy, whats upp?', underConstruction: '🚧', welcome: 'Hello friend', description: 'This is a description in English', navbar: { me: 'me', music: 'music', dev: 'dev' }, music: { favoritePlaylist: { title: 'My Favorite Playlist', description: 'Enjoy my personal selection of songs in this playlist. Listen to it and let yourself be carried away by the rhythm!' }, video: { clickMe: 'Click me!', seeFullVideo: 'See full video' } }, me: { presentation: { title: 'Hi! I\'m George Gil', description: 'I\'m a curious software engineer who also plays guitar, not always at the same time though.' }, jokes: { joke1: 'I decided to create this presentation because, let\'s face it, my jokes aren’t as good as my code... but here we are.', joke2: 'Honestly, putting together a page about myself is way less awkward than trying to have a conversation with myself.', joke3: 'In theory, I’m an expert... but since I’m better at doing than explaining, I figured it’s best to just show you.', joke4: 'Some people make presentations to impress, I made mine to avoid talking... (didn\'t work anyway).' } }, dev: { resume: { seeResume: 'See resume' }, projects: { title: 'Self taste projects' }, templates: { title: 'Use my dev templates!', modal: { title: 'Templates list', tooltip: 'It\'s way easier when you have a starting point when developing new projects, and mostof the time we waste a lot of time setting and configuring the project... That\'s why I made this section, to save a LOT of time. All technologies are listed on each repository. Happy coding! 😄' } } } } }
   ✅ should have correct configuration for language { lang: 'es', name: 'Español', translation: { hello: 'Hola amigo, que tal?', underConstruction: '🚧', welcomes: 'Plural', description: 'Esta es una descripción en español', navbar: { me: 'yo', music: 'música', dev: 'dev' }, music: { favoritePlaylist: { title: 'Mi Playlist Favorita', description: 'Disfruta de mi selección personal de canciones en esta playlist. ¡Escúchala y déjate llevar por el ritmo!' }, video: { clickMe: 'Clickeame!', seeFullVideo: 'Ver video completo' } }, me: { presentation: { title: '¡Hola! Soy George Gil', description: 'Soy un curioso ingeniero de softwre que también toca la guitarra, aunque no siempre al mismo tiempo.' }, jokes: { joke1: 'Decidí hacer esta presentación porque, siendo sinceros, mis chistes no son tan buenos como mi código... pero aquí estamos.', joke2: 'A decir verdad, crear una página sobre mí mismo es mucho menos incómodo que tener una conversación conmigo mismo.', joke3: 'En teoría, soy un experto... en la práctica, como soy mejor haciendo que explicando, mejor les muestro.', joke4: 'Algunos hacen presentaciones para impresionar, yo la hice para evitar hablar... aunque tampoco lo conseguí del todo.' } }, dev: { resume: { seeResume: 'Ver CV' }, projects: { title: 'Proyectos particulares' }, templates: { title: 'Usa mis plantillas de desarrollo!', modal: { title: 'Lista de plantillas', tooltip: 'It\'s way easier when you have a starting point when developing new projects, and mostof the time we waste a lot of time setting and configuring the project... That\'s why I made this section, to save a LOT of time. All technologies are listed on each repository. Happy coding! 😄' } } } } }
```

## ✅ <a id="file30" href="#file30">src/store/__tests__/index.spec.ts</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/store/__tests__/index.spec.ts)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 33.224380999999994 s

```
✅ index store
   ✅ should have activeHash reducer in the store
   ✅ should handle setActiveHash
   ✅ should maintain the state after an invalid action type
```

## ✅ <a id="file31" href="#file31">src/store/hash/__tests__/activeHash.spec.ts</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/store/hash/__tests__/activeHash.spec.ts)]

3 passed, 0 failed, 0 skipped, 0 todo, done in 20.07456299999967 s

```
✅ activeHashSlice
   ✅ should return the initial state
   ✅ should handle setActiveHash
   ✅ should select activeHash from the state
```

## ✅ <a id="file32" href="#file32">src/utils/__tests__/centerModalInViewPort.spec.ts</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/utils/__tests__/centerModalInViewPort.spec.ts)]

2 passed, 0 failed, 0 skipped, 0 todo, done in 6.291641000000254 s

```
✅ centerModalInViewport
   ✅ calculates correct position for desktop
   ✅ calculates correct position for mobile
```

## ✅ <a id="file33" href="#file33">src/utils/__tests__/classMerge.spec.ts</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/utils/__tests__/classMerge.spec.ts)]

4 passed, 0 failed, 0 skipped, 0 todo, done in 14.401830999999675 s

```
✅ cn function
   ✅ should combine classes correctly
   ✅ should handle falsy values
   ✅ should merge Tailwind classes correctly
   ✅ should handle an empty input
```

## ✅ <a id="file34" href="#file34">src/utils/__tests__/setTheme.spec.ts</a> [[link](https://github.com/georgegigarib/george-resume/blob/5bbed1773070448fbdab40076b002cf9006801c7/src/utils/__tests__/setTheme.spec.ts)]

2 passed, 0 failed, 0 skipped, 0 todo, done in 8.025062000000162 s

```
✅ setTheme
   ✅ should add "dark" class when isDark is true
   ✅ should remove "dark" class when isDark is false
```
