:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #4f4d4d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  overflow-x: scroll;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html {
  scroll-behavior: smooth;
}

.animated-transform {
  transition: transform 0.5s ease; /* Ajusta la duración y el tipo de transición según sea necesario */
}


.nav-bottom-oval::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -35px; /* Ajusta según sea necesario */
  left: 50%;
  transform: translateX(-50%) scaleY(0.8); /* Ajusta el escalado para el efecto más circular */
  width: 120%;
  height: 190px; /* Ajusta la altura para un efecto más circular */
  background: rgb(140, 140, 140); /* Color del fondo del nav, asegúrate de que coincida */
  border-radius: 50%; /* Asegura una forma más circular */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ajusta el sombreado según sea necesario */
  z-index: -1; /* Asegúrate de que esté detrás del contenido del nav */
}




@tailwind base;
@tailwind components;
@tailwind utilities;
